//#########################
//###Pipeline Parameters###
//#########################
//basecalling mode fast or high_accuracy
params.basecalling_mode = "high_accuracy"


//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

docker.enabled = true

process {
  container = "kflorek/artic-ncov2019"
  withName:basecalling{
    docker.runOptions = "-u \$(id -u):\$(id -g) --runtime=nvidia"
    container = "genomicpariscentre/guppy-gpu"
  }
}
