//#########################
//###Pipeline Parameters###
//#########################
// Guppy Basecalling Prameters
//basecalling mode "fast" or "high_accuracy"
params.basecalling_mode = "high_accuracy"

// ARTIC Gather Parameters
params.min_length = 400
params.max_length = 700

// ARTIC Demultiplex Parameters
params.threadsmultiplexjob = 8

// ARTIC Pipeline Parameters
params.normalise = 200
params.threadspipejob = 4

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

docker.enabled = true

process {

  withName:guppy_basecalling{
    docker.runOptions = "-u \$(id -u):\$(id -g) --runtime=nvidia"
    container = "genomicpariscentre/guppy-gpu"
  }

  withName:artic_gather{
    container = "kflorek/artic-ncov2019"
  }

  withName:artic_demultiplex{
  container = "kflorek/artic-ncov2019"
  }

  withName:artic_nanopolish{
    container = "kflorek/artic-ncov2019"
  }

  withName:artic_pipeline{
    container = "kflorek/artic-ncov2019"
  }
}
