//#########################
//###Pipeline Parameters###
//#########################

//##### Starting Parameters
params.fast5_dir = ""
params.fastq_dir = ""
params.sequencing_summary = ""
params.run_prefix = "artic_ncov19"
params.outdir = "artic_ncov19_results"
params.primers = "V3"
params.polishing = "medaka" // polishing mode "nanopolish" or "medaka"


//##### Guppy Basecalling Prameters
params.basecalling = false
params.basecalling_mode = "high_accuracy" // basecalling mode "fast" or "high_accuracy"


//##### ARTIC Demultiplex Parameters
params.threadsmultiplexjob = 8


//##### ARTIC Guppyplex Parameters
params.min_length = 400
params.max_length = 700


//##### ARTIC Nanopolish/Medaka Pipeline Parameters
params.normalise = 200
params.threadspipejob = 12
params.name_split_on = "."

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true


profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
}
