docker.enabled = true
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-2'
workDir = 's3:///wslh-nextflow/test_env/work'
cleanup=true

includeConfig 'docker_containers.config'
gpu_queue = 'aws-nextflow-gpu'

process {
  executor = 'awsbatch'
  queue = 'aws-nextflow'

  withName:guppy_basecalling{
    memory = '50 GB'
    cpus = 8
    queue = gpu_queue
    container = guppy_container
  }
  withName:guppy_demultiplexing{
    container = guppy_container
    stageOutMode = 'link'
  }
  withName:artic_guppyplex{
    container = artic_container
    stageOutMode = 'link'
  }
  withName:artic_nanopolish_pipeline{
    container = artic_container
    stageOutMode = 'link'
  }
  withName:artic_medaka_pipeline{
    container = artic_medaka_container
    stageOutMode = 'link'
  }
  withName:snp_matrix{
    container = snp_dist_container
  }
  withName:msa{
    container = msa_container
  }
  withName:iqtree{
    container = iqtree_container
  }
}
