docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

includeConfig 'docker_containers.config'

process {

  withName:guppy_basecalling{
    docker.runOptions = "-u \$(id -u):\$(id -g) --runtime=nvidia"
    container = guppy_container
  }
  withName:guppy_demultiplexing{
    container = guppy_container
    stageOutMode = 'link'
  }
  withName:artic_guppyplex{
    container = artic_container
    stageOutMode = 'link'
  }
  withName:artic_nanopolish_pipeline{
    container = artic_container
    stageOutMode = 'link'
  }
  withName:artic_medaka_pipeline{
    container = artic_medaka_container
    stageOutMode = 'link'
  }
  withName:snp_matrix{
    container = snp_dist_container
  }
  withName:msa{
    container = msa_container
  }
  withName:iqtree{
    container = iqtree_container
  }
}
